.form {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80rem;
}

.form div h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
  font-size: 24px;
  font-weight: 600;
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 2rem;
  width: 50rem;
  max-width: 400px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  /* transition: all 0.3s ease; */
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-80%);
  margin: 0em;
  padding: 0.4em;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.logo1 {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* From Uiverse.io by Mhyar-nsi */ 
button {
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
  margin-top: 2rem;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
