---
import Layout from '../layouts/Layout.astro';
import Hero from './hero.astro';
---

<Layout title="Home em Standby">
  <main class="text-white bg-[#081341] w-full max-w-full box-border justify-center items-center overflow-hidden">
    <Hero />
  </main>
</Layout>

<!-- <script>
  if (typeof window !== 'undefined') {
    if (!sessionStorage.getItem('access_granted')) {
      window.location.href = '/login';
    }
  }
</script> -->
